.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.modal_content {
  position: relative;
  margin: 0 20px;
  right: 0;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  max-width: 400px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  .button{
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: #1aaf75;
    border: none;
  }
  .text{
    font-size: 27px;
    text-align: center;
  }
}

.active {
  opacity: 1;
  pointer-events: auto;
}

